@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');

.v-application {
    font-family: "Manrope",-apple-system,"BlinkMacSystemFont",system-ui,"Roboto","Segoe UI","Helvetica Neue",sans-serif;
    font-size: inherit;
    line-height: 21px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
}
.v-application .title {
    font-family: "Manrope",-apple-system,"BlinkMacSystemFont",system-ui,"Roboto","Segoe UI","Helvetica Neue",sans-serif !important;
    font-size: inherit;
}
.v-application .headline {
    font-family: "Manrope",-apple-system,"BlinkMacSystemFont",system-ui,"Roboto","Segoe UI","Helvetica Neue",sans-serif;
    font-size: inherit;
}
.v-application .body-1 {
    font-family: "Manrope",-apple-system,"BlinkMacSystemFont",system-ui,"Roboto","Segoe UI","Helvetica Neue",sans-serif !important;
}
.v-application .body-2 {
    font-family: "Manrope",-apple-system,"BlinkMacSystemFont",system-ui,"Roboto","Segoe UI","Helvetica Neue",sans-serif !important;
}
.v-application .headline {
    font-family: "Manrope",-apple-system,"BlinkMacSystemFont",system-ui,"Roboto","Segoe UI","Helvetica Neue",sans-serif !important;
}
.v-application .caption {
    font-size: 0.75rem !important;
    font-family: "Manrope",-apple-system,"BlinkMacSystemFont",system-ui,"Roboto","Segoe UI","Helvetica Neue",sans-serif !important;
}
.v-btn {
    text-transform: none;
    letter-spacing: 0.083529412em !important;
}
.v-btn.v-size--x-large {
    font-weight: 600;
    text-transform: none;
}
.login_container {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    align-content: center;
    justify-content: center;
}
@media (max-width: 1100px) {
    .auth-sidebar {
        display: none;
    }
}
@media (min-width: 1100px) {
    .auth-sidebar {
        width: 40%;
        padding: 80px 40px 40px 40px;
        color: #ffffff;
        background: #fafafa;
    }
}
a {
    color: #1145FF;
    text-decoration: none;
}
.login_section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    padding: 28px;
}
.login_section .auth_page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_section .logo {
    position: absolute;
}
.login_section .logo img {
    height: 28px;
}
.v-navigation-drawer__content::-webkit-scrollbar {
    width: 3px;
}

.v-navigation-drawer__content::-webkit-scrollbar-track {
    background-color: rgba(238, 238, 238, 0.09);
}

.v-navigation-drawer__content::-webkit-scrollbar-thumb {
    background-color: rgba(95, 133, 255, 0.2);
}
.theme--light.v-card {
    color: #000000;
}
.v-menu__content {
    box-shadow: rgba(0,0,0, 0.21) 0 1px 3px 0, rgba(0,0,0, 0.17) 0 1px 1px 0;
}
.flag {
    border-radius: 3px;
}
.theme--light .bar_border .v-toolbar__content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.theme--dark .bar_border .v-toolbar__content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
    color: rgba(0, 0, 0, 0.12);
}
.theme--dark.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
    color: rgba(255, 255, 255, 0.12);
}
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled) > .v-input__control > .v-input__slot:hover fieldset {
    color: rgba(0, 0, 0, 0.24);
}
.theme--dark.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled) > .v-input__control > .v-input__slot:hover fieldset {
    color: rgba(255, 255, 255, 0.24);
}
.v-text-field--outlined, .v-text-field--solo {
    border-radius: 7px;
}
.v-text-field--outlined.v-input--is-focused fieldset, .v-text-field--outlined.v-input--has-state fieldset {
    border: 1px solid currentColor;
}
.theme--light.v-label {
    font-size: 17px;
    font-weight: 300;
}
.v-text-field--full-width .v-input__prepend-outer, .v-text-field--full-width .v-input__prepend-inner, .v-text-field--full-width .v-input__append-inner, .v-text-field--full-width .v-input__append-outer, .v-text-field--enclosed .v-input__prepend-outer, .v-text-field--enclosed .v-input__prepend-inner, .v-text-field--enclosed .v-input__append-inner, .v-text-field--enclosed .v-input__append-outer {
    margin-top: 8px;
}
.v-text-field--filled.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot {
    min-height: 50px;
}
.v-text-field--outlined.v-input--dense .v-label {
    top: 15px;
}
.v-text-field--outlined.v-input--dense .v-label--active {
    transform: translateY(-22px) scale(0.75);
}
.v-input .v-label {
    height: 22px;
    line-height: 22px;
}
.v-btn:not(.v-btn--round).v-size--large {
    border-radius: 7px;
}
.theme--light .vue-input__inner {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: #1B1F23;
}
.theme--dark .vue-input__inner {
    background-color: #1E1E1E;
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: #ffffff;
}
.vue-input__inner:focus {
    border-color: #2787F5;
    caret-color: #2787F5;
}
.v-skeleton-loader__list-item-avatar-two-line {
    background: transparent!important;
}
.v-skeleton-loader__list-item-avatar .v-skeleton-loader__avatar, .v-skeleton-loader__list-item-avatar-two-line .v-skeleton-loader__avatar, .v-skeleton-loader__list-item-avatar-three-line .v-skeleton-loader__avatar {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}
.margin_menu {
    margin-right: 2px;
    margin-top: 11px;
}
.theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
    background-color: rgba(64,89,133, 0.12);
}
.theme--light.v-btn.v-btn--icon {
    color: rgba(34,65,98, 0.54);
}
.theme--dark.v-btn.v-btn--icon {
    color: #8c90a5;
}
.theme--dark.v-navigation-drawer {
    /*background-color: #1d1d2c;*/
    background-color: #111120;
}
.theme--dark.v-application {
    background: #111120;
    color: #FFFFFF;
}
.bar_padding {
    padding-left: 66px;
}
.team_logo {
    height: 34px!important;
    min-width: 34px!important;
    width: 34px!important;
    border-radius: 10px;
}
.v-menu__content {
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 20px 0, rgba(0, 0, 0, 0.05) 0 3px 6px 0;
    border-radius: 8px;
}
.theme--dark.v-list {
    background-color: #1d1d2c;
}
.theme--dark .v-application .white {
    background-color: #111120!important;
}
.border_logo {
    border: 1px solid rgba(64,89,133, 0.12);
}
.theme--light.v-divider {
    border-color: rgba(64,89,133, 0.12);
}
.theme--light.v-navigation-drawer .v-divider {
    border-color: rgba(64,89,133, 0.12);
}
.theme--light.v-sheet {
    color: #000000;
}
.bar_padding {
    padding-left: 66px;
}

.container {
    padding: 16px;
}

.theme--dark.v-btn.v-btn--has-bg {
    background-color: #1d1d2c;
}
.theme--dark.v-toolbar.v-sheet {
    background-color: #111120;
}
.theme--light.modal_bar {
    background-color: #ffffff!important;
}
.theme--dark.modal_bar {
    background-color: #1d1d2c!important;
}
.theme--dark.modal_body {
    background-color: #1d1d2c!important;
}
.danger_badge {
    background: rgba(255,0,75,0.15)!important;
    color: #FF004B!important;
}
.success_badge {
    background: rgba(65,214,160,0.15)!important;
    color: #41d6a0 !important;
}
.warning_badge {
    background: rgba(240,167,71,0.15)!important;
    color: #f0a747 !important;
}
.dropzone {
    width: 100%;
    border-radius: 7px;
    padding: 20px 10px;
    cursor: pointer;
    position: relative;
}

.dragenter {
    border: 1px dashed #348bf6!important;
}

.dropzone input {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.theme--light .dropzone {
    border: 1px dashed rgba(0, 0, 0, 0.12);
}
.theme--dark .dropzone {
    border: 1px dashed rgba(255, 255, 255, 0.12);
}

.close_button {
    position: absolute;
    top: 15px;
    right: 10px;
}

.wizard_logo {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.wizard_container {
    width: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wizard_footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100vw;
}
.logo_auth {
    width: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.auth_title {
    font-size: 1.9em;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0.0073529412em !important;
}

.v-btn:not(.v-btn--round).v-size--x-large {
    border-radius: 8px;
}
.danger_btn {
    color: #FF004B!important;
    background: rgba(255, 0, 75, 0.1) !important;;
}
.block_width {
    width: 100%;
}
.theme--light .border_white_avatar {
    border: 1px solid #959cb7!important;
}
.theme--dark .border_white_avatar {
    border: 1px solid #959cb7!important;
}
.color_select_avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
}
.color_title_switcher {
    height: 96px;
    border-radius: 8px;
    cursor: pointer;
}
.app_template {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 7px;
}
.theme--light .app_template.active {
    border-color: #1145FF;
}
.theme--dark .app_template.active {
    border-color: #348bf6;
}
.theme--light .color_title_switcher {
    border: 1px solid rgba(0, 0, 0, 0.12)!important;
}
.theme--dark .color_title_switcher {
    border: 1px solid rgba(255, 255, 255, 0.12)!important;
}
.color_title_switcher .white_block {
    background-color: #ffffff;
    height: 48px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}
.color_title_switcher .black_block {
    background-color: #000000;
    height: 48px;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}
.list_icon {
    margin-top: 4px;
}
.theme--light .smoke_icon {
    color: #99A2AD;
}

.theme--dark .smoke_icon {
    color: #99A2AD;
}
.theme--light .primary_icon {
    color: #1145FF;
}

.theme--dark .primary_icon {
    color: #348bf6;
}
.theme--light .ios_icon {
    color: #000000;
}
.theme--dark .ios_icon {
    color: #e5e5e5;
}
.android_icon {
    color: #00de7a;
}
.v-list--nav .v-list-item, .v-list--nav .v-list-item:before {
    border-radius: 8px;
}

.app_icon {
    background-size: 100% 100%;
    border-radius: 30%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
}
.theme--light .small_icon {
    border: 1px solid rgba(64,89,133, 0.12);
}
.theme--dark .small_icon {
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.app_grid {
    --max-grid-column: 6;
    grid-template-columns: [col-start] repeat(auto-fill,minmax(max(355px,(100% - 6 * 12px)/6),1fr)) [col-end]; /*285*/
    display: grid;
    gap: 12px 12px;
    width: 100%;
}

.app_card {
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    background: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    -moz-transition:background .1s ease-in;
    -o-transition:background .1s ease-in;
    -webkit-transition:background .1s ease-in;
}
.app_card:hover {
    background: rgba(153, 162, 173, 0.05);
}

.theme--light .app_card {
    border: 1px solid rgba(64,89,133, 0.12);
}
.theme--dark .app_card {
    border: 1px solid rgba(255, 255, 255, 0.12);
}
.v-btn.v-size--large {
    font-size: 0.95rem;
}
.v-tab {
    text-transform: none;
    letter-spacing: 0.04em;
    font-size: 0.9rem;
}
.footer_app {
    position: fixed;
    bottom: 0;
    height: 72px;
    display: block;
}
.theme--light .footer_app {
    background-color: #ffffff!important;
}
.theme--dark .footer_app {
    background-color: #111120!important;
}
.v-text-field.v-text-field--enclosed .v-text-field__details {
    margin-bottom: 0;
}
.v-messages__message {
    margin-bottom: 8px;
}
.fixed_search {
    position: fixed;
    max-width: 680px;
    width: 100%;
    height: 150px;
    background: #ffffff;
    margin-bottom: 150px;
    display: contents;
}
.theme--light.fixed_search {
    background-color: #ffffff!important;
}
.theme--dark.fixed_search {
    background-color: #1d1d2c!important;
}
.permissions_block {
    width: 100%;
    border-radius: 8px;
}
.theme--light .permissions_block {
    background-color: #ffffff!important;
    border: 1px solid rgba(64,89,133, 0.12);
}
.theme--dark .permissions_block {
    background-color: #111120!important;
    border: 1px solid rgba(255, 255, 255, 0.12);
}
.v-color-picker {
    border-radius: 0;
}
.theme--dark .v-color-picker__controls {
    background-color: #1d1d2c;
}
.theme--dark .modal_background {
    background-color: #1d1d2c;
}
.theme--dark.v-data-table {
    background: #111120;
}
.icons_list {
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
}
.icon-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    grid-auto-rows: minmax(70px, auto);
    grid-gap: 0.5em;
    padding-bottom: 60px;
    font-size: 28px;
}
.icon_preview {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_preview.active {
    border-color: #1145FF;
}
.theme--dark.v-card {
    background: #1d1d2c;
}
.theme--light .background_block {
    background-color: #ffffff!important;
}
.theme--dark .background_block {
    background-color: #111120!important;
}
.theme--light .card_input_base {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
}
.theme--dark .card_input_base {
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 4px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
}
.theme--light .card_input_focus {
    box-shadow: none;
    border: 1px solid #1145FF;
    border-radius: 4px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    color: red;
}
.theme--dark .card_input_focus {
    box-shadow: none;
    border: 1px solid #348bf6;
    border-radius: 4px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
}
.v-subheader {
    padding: 0 16px 0 9px;
}
.null_border_radius {
    border-radius: 0!important;
}
.active_platform {
    border: 1px solid #1145FF!important;
}
.v-toolbar__title {
    font-weight: 500;
}
.v-list-item__title {
    font-weight: 500;
}
.success_badge {
    background-color: rgba(65,214,160, 0.2)!important;
    color: rgba(65,214,160, 1)!important;
}
.warning_badge {
    background-color: rgba(240,167,71, 0.2)!important;
    color: rgb(245, 145, 24) !important;
}
.danger_badge {
    background-color: rgba(255,0,75, 0.2)!important;
    color: rgb(255,0,75) !important;
}
.smoke_badge {
    background-color: rgba(153,162,173, 0.3)!important;
    color: #000000!important;
}
.theme--light .smoke_badge {
    color: #000000!important;
}
.theme--dark .smoke_badge {
    color: #ffffff!important;
}
.x-small-text {
    font-size: 10px!important;
    text-transform: uppercase;
}
.preview_container {
    position: relative;
    height: 670px;
    overflow: hidden;
    margin: auto auto auto 10px;
    z-index: 2;
}
.preview_qr {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin: auto auto auto 10px;
    z-index: 2;
}
.preview_frame {
    width: 9999px;
    height: 9999px;
    border: 0;
    overflow: hidden;
}
.run_preview {
    position: absolute;
    inset: 0 12px 0 0;
    display: flex;
    flex-direction: column;
    padding-top: 110px;
}
.queued_container {
    display: flex;
    justify-content: center;
}
.queued_counter {
    font-size: 60px;
    font-weight: 600;
    line-height: initial;
}
.queued_info {
    font-size: 10px;
    font-weight: 200;
}
.empty_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}
.queued_position {
    height: 110px;
    width: 110px;
    border: 3px solid #ffffff;
}
.active_modal_list {
    background: transparent!important;
}
.connection_devices {
    height: 72px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
}
.theme--light .connection_devices {
    background: #ffffff;
    border-top: 1px solid rgba(64,89,133, 0.12);
    border-left: 1px solid rgba(64,89,133, 0.12);
}
.theme--dark .connection_devices {
    background: #111120;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-left: 1px solid rgba(255, 255, 255, 0.12);
}
.theme--light .device_icon {
    border-radius: 10px;
    border: 1px solid rgba(64,89,133, 0.12);
}
.theme--dark .device_icon {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.12);
}
.fab_screenshot {
    position: absolute;
    top: 8px;
    left: 135px;
}